header {
  background: #f5a762;
  color:#9b3797;
  text-align: center;
  line-height: 200px;
  font-size: 40px;
}

body {
  line-height: 2;
  background: #97c23b;
}

.display {
  color: #165966;
  background: #d6ef75;
  width: 500px;
  float: right;
  margin-right: 50px;
}

.positioning {
  color:#0f6fd5;
  background:#82c6f3;
  width:500px;
  float: left;
  margin-left: 50px;
  overflow: visible;
}

h2 {
  text-align: center;
  text-decoration: underline;
}
