header {
  background: #f5a762;
  color:#9b3797;
  text-align: center;
  line-height: 200px;
  font-size: 40px;

}

body {
  line-height: 2;
}

.display {
  color: #ce1cd8;
  background: #0e58a9;
  width: 500px;
  float: right;
  margin-right: 50px;
}

.positioning {
  color:#5550a9;
  background:#eef080;
  width:500px;
  float: left;
  margin-left: 50px;
  overflow: visible;
}

h2 {
  text-align: center;
  text-decoration: underline;
}
